/* ----------ABOUT US CSS --------------  */
.about-us-bg-img {
    background: url("../images/webp/about-us-bg-img.webp") no-repeat;
    background-size: cover;
    background-position: center;
}

.top-overlay,
.bottom-overlay {
    background: linear-gradient(180deg, rgba(11, 14, 17, 0) 0%, #0b0e11 100%);
    max-height: 200px;
}

.transfrom-rotate {
    transform: rotate(180deg);
}

.about-us-image {
    max-width: 75% !important;
}

/* ---------- BRAND STORY CSS --------------  */
.bg-brand-story {
    background: url("../images/gif/brand_story_gif.gif") no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}

.brand-story-paragraph {
    max-width: 632px;
}

.bg-brand-story::after {
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #0b0e11;
    mix-blend-mode: color;
    z-index: 1;
}

.how-it-work-image {
    max-width: 400px;
}

.how-it-work-bg-img {
    background: url("../images/webp/how-it-work-bg-image.webp") no-repeat;
    background-size: cover;
    background-position: center;
}

.how-it-work-box {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: rgba(76, 90, 101, 0.20);
    backdrop-filter: blur(4px);
    padding: 8px 16px;
}

.how-it-work-box:hover {
    box-shadow: 0px 5px 10px -5px rgba(255, 255, 255, 0.411) !important;
}

.time-line-works::after {
    border-left: 1px dashed var(--white);
    height: 100%;
    width: 1px;
    top: 0;
    left: 8px;
}

.faq-text-start-line::before,
.stay_ahead_bg::after,
.stay_ahead_bg::before,
.bg_application::after,
.footer_text_underline::before,
.verticle_horizontal_sidebar::before,
.bg_video::after,
.bg_video::before,
.tooltip:after,
.bg-brand-story::after,
.timeline-circle::before,
.timeline-circle-top::before,
.timeline-circle-center::before,
.timeline-circle-bottom::before,
.time-line-works::after {
    position: absolute;
    content: "";
}

.timeline-circle::before {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #A9AAAB;
    z-index: 1;
}

.timeline-circle-top::before {
    top: -2px;
    left: -21px;
}

.timeline-circle-center::before {
    top: 50%;
    left: -21px;
    transform: translateY(-50%);
}

.timeline-circle-bottom::before {
    bottom: -2px;
    left: -21px;
}

/* --------FAQ------------ */
.faq-accrodion {
    max-width: 800px;
}

.accordion-item {
    border: 1px solid rgba(255, 255, 255, 0.16) !important;
    background: rgba(76, 90, 101, 0.30) !important;
    backdrop-filter: blur(4px) !important;
    padding: 17px 20px !important;
    border-radius: 24px !important;
    transition: border-radius 0.3s ease;
}

.accordion-button:not(.collapsed) {
    box-shadow: unset !important;
}

.accordion-button:focus {
    box-shadow: unset !important;
}

.accordion-button::after {
    height: 24px !important;
    width: 24px !important;
    background-image: url("../images/svg/arrow-down.svg") !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.faq-text-start-line::before {
    position: absolute;
    content: "";
    height: 95%;
    width: 1px;
    top: 0px;
    left: 0;
    opacity: 0.5;
    background-color: var(--light-white);
}

/* -------- SECURE DATA CSS ------------ */
.secure-data-bg-image {
    background: url('../images/webp/secure-data-bg-image.webp') no-repeat;
    background-position: center;
    background-size: cover;
}

.secure-data-image {
    max-width: 296px;
}

.right-arrow-icon {
    width: 10px;
}

.transfrom-rotate-icon {
    transform: rotate(90deg);
}

.transfrom-rotate-icon-neagtive-deg,
.transfrom-rotate-icon-neagtive-deg-all {
    transform: rotate(-90deg);
}

.first-text-secure {
    top: 41px;
    right: 8px;
}

.second-text-secure {
    top: 27px;
    transform: rotate(21deg);
    left: 76px;
}

.third-text-secure {
    top: -50px;
    left: 10px;
}

.fourth-text-secure {
    top: 85px;
    left: -42px;
    transform: rotate(-90deg);
}

/* .fifth-text-secure {
    bottom: 3px;
    left: 0px;
} */

.six-text-secure {
    top: 155px;
    right: 132px;
    transform: rotate(-21deg);
}

.seven-text-secure {
    top: 154px;
    right: 35px;
}

.eight-text-secure {
    top: 100px;
    right: 152px;
    transform: rotate(-21deg);
}

.d-sm-mobile-none {
    display: none;
}

.text-break {
    display: block;
}

#securedatabtn {
    height: 34px;
    width: 170px;
    font-weight: 600;
    color: #010101;
    background: #fafafa;
    border-radius: 34px;
    font-size: var(--font-base);
    bottom: 0;
    right: 0px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #fafafa;
}

#securedatabtn:hover {
    box-shadow: inset 0 60px 0 #11222c;
    color: #fafafa;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: black;
    padding: 4px 12px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
}

.tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-40%);
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.first-text-secure:hover .tooltip,
.second-text-secure:hover .tooltip,
.third-text-secure:hover .tooltip,
.fourth-text-secure:hover .tooltip,
.fifth-text-secure:hover .tooltip,
.six-text-secure:hover .tooltip,
.seven-text-secure:hover .tooltip,
.eight-text-secure:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.fourth-text-secure:hover .tooltip {
    transform: translateX(-50%) rotate(77deg);
}

.six-text-secure:hover .tooltip {
    transform: translateX(-50%) rotate(21deg);
}

.third-text-secure:hover .tooltip:after,
.fourth-text-secure:hover .tooltip::after {
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    border-color: transparent white transparent transparent;
}

.seven-text-secure:hover .tooltip::after,
.six-text-secure:hover .tooltip:after {
    top: -20px;
    border-color: transparent transparent white transparent;
}


.first-text-secure:hover .tooltip,
.third-text-secure:hover .tooltip,
.fifth-text-secure:hover .tooltip,
.eight-text-secure:hover .tooltip,
.second-text-secure:hover .tooltip {
    top: -40px;
}

.third-text-secure:hover .tooltip {
    top: 0px;
    left: 140px;
}

.fourth-text-secure:hover .tooltip {
    top: 82px;
    left: 70px;
}

.six-text-secure:hover .tooltip {
    top: 25px;
    left: -10px;
}

.seven-text-secure:hover .tooltip {
    top: 35px;
    left: 0px;
}

@media (min-width:375px) {
    .secure-data-image {
        max-width: 351px;
    }


    .d-mobile-block {
        display: block !important;
    }

    .first-text-secure {
        top: 52px;
        right: 15px;
    }

    .second-text-secure {
        top: 38px;
        left: 92px;
    }

    .third-text-secure {
        top: -50px;
        left: 10px;
    }

    .fourth-text-secure {
        top: 101px;
        left: -52px;
    }

    .six-text-secure {
        top: 184px;
        right: 151px;
    }

    .seven-text-secure {
        top: 183px;
        right: 52px;
    }

    .eight-text-secure {
        top: 129px;
        right: 182px;
    }
}

@media (min-width:576px) {
    .text-break {
        display: inline;
    }

    /* -------- ABOUT DATA CSS ------------ */
    .about-us-image {
        max-width: 461px !important;
    }

    /* -------- SECURE DATA CSS ------------ */
    .secure-data-image {
        max-width: 814px;
        transform: rotate(0deg);
        width: 100%;
    }

    .first-text-secure {
        top: 82px;
        right: 54px;
        transform: rotate(8deg);
    }

    .second-text-secure {
        top: 68px;
        left: 150px;
        transform: rotate(26deg);
    }

    .third-text-secure {
        top: -50px;
        left: 10px;
    }

    .right-arrow-icon {
        width: 14px;
    }

    .transfrom-rotate-icon-neagtive-deg {
        transform: rotate(90deg);
    }

    .transfrom-rotate-icon-neagtive-deg-all {
        transform: rotate(-90deg);
    }

    .fourth-text-secure {
        top: 170px;
        left: -75px;
        transform: rotate(-90deg);
    }

    .fifth-text-secure {
        bottom: 2px;
        left: 0px;
    }

    .six-text-secure {
        top: 270px;
        right: 231px;
        transform: rotate(-19.5deg);
    }

    .seven-text-secure {
        top: 268px;
        right: 53px;
        transform: rotate(-4deg);
    }

    .eight-text-secure {
        top: 219px;
        right: 248px;
        transform: rotate(-21deg);
    }

    #securedatabtn {
        height: 40px;
        width: 190px;
        right: 20px;
    }

    .tooltip {
        background-color: transparent;
    }

    .fourth-text-secure:hover .tooltip {
        transform: rotate(90deg);
    }

    .six-text-secure:hover .tooltip,
    .seven-text-secure:hover .tooltip {
        top: 35px;
        left: 50px;
    }

    .fifth-text-secure:hover .tooltip {
        top: -5px;
        left: 160px;
    }

    .six-text-secure:hover .tooltip {
        transform: rotate(0deg);
    }

    .fifth-text-secure:hover .tooltip::after {
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
        border-color: transparent white transparent transparent;
    }
}

@media (min-width:768px) {

    /* ---------- HOW IT WORK CSS --------------  */
    .how-it-work-image {
        max-width: 530px !important;
    }

    /* ---------- FAQ CSS --------------  */
    .faq-question-image {
        right: -60px;
        top: 110px;
        width: 385px;
        height: 587px;
    }

    /* ---------- BRAND STORY CSS --------------  */
    .bg-brand-story {
        background-size: contain;
        min-height: 500px;
    }

    .left-top-circle-brand-position {
        top: 20px;
        left: 10px;
    }

    .right-bottom-circle-brand-position {
        right: 10px;
        bottom: 20px;
    }

    .how-it-work-box {
        padding: 8px 14px;
    }

    .time-line-works::after {
        border-left: 0px dashed var(--white);
        border-top: 1px dashed var(--white);
        height: 1px;
        width: 100%;
        left: 0px;
    }

    .timeline-circle::before {
        top: -5.5px;
        left: 0px;
    }

    .timeline-circle-center::before {
        top: -5.5px;
        left: 50%;
        transform: translateY(0);
    }

    .timeline-circle-bottom::before {
        top: -5.5px;
        left: 100%;
    }

    /* -------- SECURE DATA CSS ------------ */

    .first-text-secure {
        top: 110px;
        right: 100px;
        transform: rotate(0deg);
    }

    .second-text-secure {
        top: 98px;
        left: 216px;
        transform: rotate(23deg);
    }

    .right-arrow-icon {
        width: 18px;
    }

    .fourth-text-secure {
        top: 239px;
        left: -56px;
    }

    .six-text-secure {
        top: 359px;
        right: 333px;
    }

    .seven-text-secure {
        top: 370px;
        right: 101px;
        transform: rotate(0deg);
    }

    .eight-text-secure {
        top: 307px;
        right: 373px;
    }

    #securedatabtn {
        height: 45px;
        width: 200px;
        right: 50px;
    }
}

@media (min-width:992px) {

    /* ---------- BRAND STORY CSS --------------  */
    .bg-brand-story {
        min-height: 678px;
    }

    .left-top-circle-brand-position {
        top: 30px;
        left: 100px;
    }

    .right-bottom-circle-brand-position {
        right: 100px;
        bottom: 40px;
    }

    .how-it-work-box {
        padding: 8px 26px;
    }

    .time-line-works::after {
        width: 768px;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline-circle::before {
        left: 77px;
    }

    .timeline-circle-center::before {
        top: -5.5px;
        left: 50%;
        transform: translateY(0);
    }

    .timeline-circle-bottom::before {
        left: 90%;
    }

    /* -------- SECURE DATA CSS ------------ */

    .first-text-secure {
        top: 129px;
        right: 135px;
    }

    .second-text-secure {
        top: 114px;
        left: 250px;
    }

    .third-text-secure {
        top: 0px;
        left: -65px;
    }

    .right-arrow-icon {
        width: 21px;
    }

    .fourth-text-secure {
        top: 280px;
        left: -46px;
    }

    .fifth-text-secure {
        left: -80px;
    }

    .seven-text-secure {
        top: 435px;
        right: 136px;
    }

    .six-text-secure {
        top: 417px;
        right: 401px;
    }

    .eight-text-secure {
        top: 361px;
        right: 441px;
    }

    #securedatabtn {
        right: 70px;
    }

    .third-text-secure:hover .tooltip,
    .fifth-text-secure:hover .tooltip {
        top: -50px;
        left: 50px;
    }

    .third-text-secure:hover .tooltip:after,
    .fifth-text-secure:hover .tooltip:after {
        top: 40px;
        left: 40%;
        transform: translateY(-50%);
        border-color: white transparent transparent transparent;
    }

}

@media (min-width:1200px) {
    .time-line-works::after {
        width: 685px;
    }

    /* ---------- BRAND STORY CSS --------------  */
    .left-top-circle-brand-position {
        top: 40px;
        left: 150px;
    }

    .right-bottom-circle-brand-position {
        right: 150px;
        bottom: 70px;
    }

    .timeline-circle::before {
        left: 165px;
    }

    .timeline-circle-center::before {
        top: -5.5px;
        left: 50%;
        transform: translateY(0);
    }

    .timeline-circle-bottom::before {
        left: 84%;

    }

    /* -------- SECURE DATA CSS ------------ */

    .first-text-secure {
        top: 129px;
        right: 139px;
    }

    .fifth-text-secure {
        left: -95px;
    }

    #securedatabtn {
        height: 51px;
        width: 213px;
        right: 65px;
    }

    .third-text-secure:hover .tooltip,
    .fifth-text-secure:hover .tooltip {
        left: 30px;
    }

    .faq-question-image {
        right: -40px;
    }

}

@media (min-width:1400px) {
    .time-line-works::after {
        width: 768px;
    }

}

.svg-bg-change:hover {
    fill: var(--light-white);
}


.highlight-abc1 {
    fill: #11222c;
    /* or transparent, depending on your needs */
}

.abcd {
    fill: white;
}

.abcd1 {
    fill: white;
}

.abcd2 {
    fill: black;
}

/* FOOTER CSS HERE */
.links_hover::after {
    content: "";
    position: absolute;
    width: 0px;
    left: 0;
    bottom: 0;
    transition: all 300ms ease-in-out !important;
    border: 0px solid white !important;
}

.links_hover:hover::after {
    width: 100%;
    border: 1px solid white !important;
}

.links_hover:hover {
    opacity: 100 !important;
}

.donate_btn {
    padding: 12.5px 32px 11.5px 32px;
    background-color: #9a0000;
    color: #f2f7f9 !important;
}

.donate_btn:hover {
    color: #9a0000 !important;
    box-shadow: inset 0 80px 0 #ffffff;
}

.border_top {
    border-top: 1px solid #4a575f;
}

.hover_opacity:hover {
    opacity: 1 !important;
}

.footer_privacy_condition_hover:hover {
    opacity: 100 !important;
}

.footer_logo_size {
    min-width: 107px !important;
}

/* FINGER PRINTS CSS HERE */
.black_fingerprint_img {
    left: 50%;
    transform: translatex(-50%);
    max-width: 781px;
}

.gray_print_size {
    max-width: 422px;
}

.gray_print_left_img {
    left: -50px;
}

.gray_print_right_img {
    right: -50px;
}

.finger_print_section_height {
    height: 482px;
}

/* FAQ CSS HERE */
.faq_bg_color {
    background: rgba(76, 90, 101, 0.3) !important;
    backdrop-filter: blur(4px) !important;
}

.faq_border {
    border: 1px solid rgba(255, 255, 255, 0.16) !important;
}

.rounded_custom {
    border-radius: 24px !important;
}

.width_710 {
    max-width: 710px !important;
}

.accordion-button {
    display: flex;
    align-items: normal;
}

.accordion-button::after {
    background-image: url("../images/svg/faq-arrow.svg") !important;
    width: 24px !important;
    height: 24px !important;
    background-size: 100% 100% !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.question_mark_size_position {
    right: -22% !important;
    top: 70px;
    max-width: 375px;
}

.question_mark_opacity {
    opacity: 90 !important;
}

/* ABOUT US CSS HERE */
.width_477 {
    max-width: 477px !important;
}

.aboutus_image_size {
    max-width: 461px !important;
}

.about_us_bg_img {
    background-image: url("../images/png/about-us-bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accordion-item .collapsed {
    border-radius: 40px !important;
}

/* AI INNOVATION CSS */
.ai_innovation_bg_img {
    background-image: url("../images/png/ai-innovation-bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.width_576 {
    max-width: 576px !important;
}

.ai_innovation_box {
    background: rgba(242, 247, 249, 0.08);
    backdrop-filter: blur(5px);
}

.margin_3 {
    margin: 3px;
}

.backdrop_blur {
    filter: blur(4.65217399597168px);
}

.back_to_top_icon {
    width: 30px;
    height: 30px;
}

#back_to_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 998;
    background-color: black !important;
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

#back_to_top:hover {
    box-shadow: 0px 1px 10px 0px white;
}

.backtotop_animation {
    animation: backtotop_animation 1500ms infinite !important;
}

@keyframes backtotop_animation {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* SECURE YOUR DATA CSS */
.secure_bg_img {
    background-image: url("../images/png/secure-bg-ing.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.generate_text_position {
    right: 183px;
    top: 158px;
}

.send_text_position {
    right: 510px;
    top: 140px;
    rotate: 25deg;
}

.arrow_rotate_send {
    rotate: -25deg;
}

.encrypted_text_position {
    left: -50px;
    top: 40px;
    max-width: 101px !important;
}

.send_encrypted_text_position {
    left: 0px;
    top: 310px;
    rotate: -90deg;
}

.process_text_position {
    bottom: 0;
    left: -60px;
    max-width: 156px !important;
}

.send_output_text_position {
    left: 270px;
    bottom: 140px;
    rotate: -20deg;
}

.arrow_rotate_output {
    rotate: 154deg;
}

.decrypt_text_position {
    right: 178px;
    bottom: 114px;
}

.send_decrypted_text_position {
    left: 230px;
    bottom: 205px;
    rotate: -20deg;
}

.tool_tip_box {
    background-image: url("../images/svg/polygon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    visibility: hidden;
    background-size: 100% 100%;
    /* height: 44px; */
    padding-bottom: 12px;
    padding-top: 4px;
}

.tooltip_hover:hover .tool_tip_box {
    visibility: visible !important;
}

.tooltip_1_position {
    right: 180px;
    top: 100px;
}

.tooltip_2_position {
    right: 0px;
    top: -60px;
    rotate: -25deg;
}

.tooltip_3_position {
    right: 0px;
    top: -60px;
}

.tooltip_4_position {
    background-image: url("/assets/images/svg/tooltip_bg_img.svg");
    padding-bottom: 4px;
    padding-right: 12px;
    right: 30px;
    top: -100px;
    rotate: 90deg;
}

.tooltip_5_position {
    right: 0;
    top: -60px;
}

.tooltip_6_position {
    right: 60px;
    bottom: -70px;
    rotate: 20deg;
}

.tooltip_6_position,
.tooltip_7_position {
    background-image: url("../images/svg/polygon2.svg");
    padding-bottom: 4px;
    padding-top: 12px !important;
}

.tooltip_7_position {
    right: 0;
    bottom: -50px;
}

.tooltip_8_position {
    right: 30px;
    top: -60px;
    rotate: 20deg;
}

.parentClass .secure_data_numbers {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    /* Adjust the transition duration and easing function */
}

.secure_data_numbers {
    z-index: 1 !important;
}

#secureDataBtn {
    height: 54px;
    width: 212px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #010101;
    background: #fafafa;
    border-radius: 34px;
    font-size: var(--font-base);
    bottom: 0;
    right: 140px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #fafafa;
}

#secureDataBtn:hover {
    box-shadow: inset 0 60px 0 #11222c;
    color: #fafafa;
}

#secureDataBtn:disabled,
#secureDataBtn.disable:hover {
    color: #010101;
    background: #fafafa;
    box-shadow: none !important;
    cursor: not-allowed;
}

.secure_data_numbers {
    transition: all 0.3s ease-in-out;
}

/* MEDIA QUAREY */
@media (max-width: 1199.98px) {
    body {
        padding-bottom: 52px;
    }

    .black_fingerprint_img {
        max-width: 600px;
    }

    .gray_print_size {
        max-width: 300px;
    }

    .gray_print_right_img {
        right: 0;
    }

    .gray_print_left_img {
        left: 0;
    }

    .finger_print_section_height {
        height: 382px;
    }

    .question_mark_size_position {
        max-width: 335px;
    }

    .aboutus_image_size {
        max-width: 75% !important;
    }

    .generate_text_position {
        right: 136px;
        top: 140px;
    }

    .send_text_position {
        right: 420px;
        top: 130px;
    }

    .encrypted_text_position {
        left: -10px;
        top: 0px;
    }

    .send_encrypted_text_position {
        left: -20px;
        top: 270px;
        rotate: -90deg;
    }

    .process_text_position {
        bottom: -30px;
        left: -40px;
        max-width: 156px !important;
    }

    .send_output_text_position {
        left: 210px;
        bottom: 115px;
        rotate: -20deg;
    }

    .decrypt_text_position {
        right: 140px;
        bottom: 108px;
    }

    .send_decrypted_text_position {
        left: 175px;
        bottom: 175px;
    }

    .secure_img_size {
        max-width: 700px !important;
        height: auto;
    }

    .tooltip_1_position {
        right: 130px;
        top: 85px;
    }

    #secureDataBtn {
        height: 40px;
        width: 190px;
        right: 100px;
    }

    #back_to_top {
        bottom: 60px;
    }
}

@media (max-width: 991.98px) {
    #secureDataBtn {
        right: 40px;
    }

    .finger_print_section_height {
        height: 252px;
    }

    .black_fingerprint_img {
        max-width: 400px;
    }

    .gray_print_size {
        max-width: 200px;
    }

    .rounded_custom {
        border-radius: 8px !important;
    }

    .question_mark_size_position {
        right: -12% !important;
        top: 9%;
        max-width: 335px;
    }

    .aboutus_image_size {
        max-width: 100% !important;
    }

    .generate_text_position {
        right: 40px;
        top: 120px;
    }

    .send_text_position {
        right: 300px;
        top: 85px;
    }

    .encrypted_text_position {
        left: -70px;
        top: -10px;
        max-width: 101px !important;
    }

    .send_encrypted_text_position {
        left: -60px;
        top: 200px;
    }

    .process_text_position {
        bottom: -10px;
        left: -80px;
        max-width: 156px !important;
    }

    .send_output_text_position {
        left: 122px;
        bottom: 89px;
        rotate: -20deg;
    }

    .decrypt_text_position {
        right: 66px;
        bottom: 85px;
    }

    .send_decrypted_text_position {
        left: 95px;
        bottom: 143px;
    }

    .tooltip_1_position {
        right: 40px;
        top: 70px;
    }

    .secure_data_numbers {
        scale: 0.8;
    }
}

@media (max-width: 767.98px) {
    .aboutus_image_size {
        max-width: 65% !important;
    }

    .footer_logo_size {
        min-width: auto !important;
    }

    .ai_img_size {
        height: 300px;
    }

    .back_to_top_icon {
        width: 20px;
        height: 20px;
    }

    #back_to_top {
        right: 10px;
        width: 35px;
        height: 35px;
    }

    .generate_text_position {
        right: 25px;
        top: 108px;
    }

    .tooltip_1_position {
        right: 30px;
        top: 40px;
    }

    .send_text_position {
        right: 270px;
        top: 74px;
    }

    .encrypted_text_position {
        left: -30px;
        top: -40px;
    }

    .send_encrypted_text_position {
        left: -60px;
        top: 180px;
    }

    .tooltip_4_position {
        right: 30px;
        top: 100px;
        background-image: url("../images/svg/polygon3.svg");
        padding-left: 12px;
        padding-right: 4px;
    }

    .tooltip_4_position::after {
        left: -17.5px;
        transform: translateY(-50%) rotate(90deg) !important;
    }

    .process_text_position {
        bottom: -48px;
        left: -30px;
    }

    .send_output_text_position {
        left: 100px;
        bottom: 80px;
    }

    .decrypt_text_position {
        right: 60px;
        bottom: 80px;
    }

    .send_decrypted_text_position {
        left: 75px;
        bottom: 124px;
    }
}

@media (max-width: 575.98px) {
    .secure_img_size_parent h3 {
        font-size: 13px;
    }

    .finger_print_section_height {
        height: 172px;
    }

    .finger_print_section_height .container {
        max-width: 320px;
    }

    .black_fingerprint_img {
        max-width: 220px;
    }

    .gray_print_size {
        max-width: 130px;
    }

    .accordion-button {
        padding: 12px !important;
    }

    .accordion-body {
        padding: 0 12px 12px 12px !important;
    }

    .aboutus_image_size {
        max-width: 75% !important;
    }

    .ai_img_size {
        height: 200px;
    }

    .donate_btn {
        padding: 9px 25px 8px 25px;
        background-color: #9a0000;
        color: #f2f7f9 !important;
    }

    .secure_img_size_parent {
        max-width: 370px !important;
    }

    #secureDataBtn {
        height: 34px;
        width: 170px;
        right: auto;
        transform: translateX(-50%);
        left: 50%;
        bottom: -100px;
    }

    .mobile_br {
        display: block !important;
    }

    .secure_data_numbers {
        max-width: 150px;
        text-align: center;
    }

    .generate_text_position {
        right: -210px;
        top: 68px;
    }

    .tooltip_1_position {
        right: -230px;
        top: 20px;
    }

    .send_text_position {
        right: 166px;
        top: 40px;
    }

    .encrypted_text_position {
        left: -15px;
        top: -45px;
    }

    .tooltip_3_position {
        top: -40px;
    }

    .send_encrypted_text_position {
        left: -65px;
        top: 104px;
    }

    .tooltip_4_position {
        top: 90px;
        right: 0;
    }

    .tooltip_6_position {
        right: 70px;
        bottom: -40px;
    }

    .process_text_position {
        left: -20px;
    }

    .send_output_text_position {
        left: 61px;
        bottom: 35px;
    }

    .send_decrypted_text_position {
        left: 34px;
        bottom: 78px;
    }

    .decrypt_text_position {
        right: 50px;
        bottom: 43px;
    }

    .decrypt_text_position h3 {
        line-height: 12px;
    }

    .ai_box {
        width: 250px;
    }
}

@media (max-width: 539.98px) {
    .ai_box {
        width: 100%;
        max-width: 350px;
    }
}

@media (max-width: 360px) {
    .secure_img_size_parent h3 {
        font-size: 14px;
    }

    .generate_text_position {
        right: -145px;
        top: 52px;
    }

    .secure_img_size_parent {
        max-width: 296px !important;
    }

    .send_text_position {
        right: 126px;
        top: 30px;
    }

    .arrow_rotate_send,
    .arrow_rotate_output {
        display: none;
    }

    .send_encrypted_text_position {
        left: -70px;
        top: 84px;
    }

    .send_output_text_position {
        left: 33px;
        bottom: 20px;
    }

    .send_decrypted_text_position {
        left: 11px;
        bottom: 60px;
    }

    .decrypt_text_position {
        right: 31px;
        bottom: 34px;
    }

    .tooltip_1_position {
        right: -160px;
        top: 0px;
    }

    .tooltip_5_position {
        right: 10px;
        top: -40px;
    }
}

.svg-path-fill:hover {
    fill: #fafafa;
}

.text-fill-black {
    fill: #010101;
}

.text-fill-white {
    fill: #fafafa;
}

.text-fill-light-black {
    fill: #11222c;
}